<script setup>
import FirstPage from '../components/FirstPage.vue'
import SecondPage from '../components/SecondPage.vue'
import FourthPage from '../components/FourthPage.vue'
import ThirdPage from '../components/ThirdPage.vue'
</script>

<template>
    <div class="row bg-black">
      <FirstPage/>
    </div>
    <div class="row bg-black">
      <SecondPage/>
    </div>
    <div class="row">
      <ThirdPage/>
    </div>
    <div class="row bg-black">
      <FourthPage/>
    </div>

</template>

<style>

</style>
