<template>
  <nav class="navbar navbar-expand-lg fixed-top bg-black">
    <div class="container-fluid" style="margin-left: 155px">
      <img src="../assets/dinosaur.jpg" width="30" height="30" class="d-inline-block align-text-top rounded-circle">
      <a class="navbar-brand text-white" style="padding-left: 15px;">LOREM <span style="color: #daf604; ">IPSUM</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page">LOREM</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white disabled" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              LOREM
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">LOREMIPSUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">LOREM & IPSUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">LOREM</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {

}
</script>

<style>

</style>