<template>
  <section id="section1" class="text-white align-self-center" style="padding:100px 100px;">
    <div class="row">
      <div class="col" style="padding:50px 50px;">
        <p style="margin-bottom: -1rem;"><span style="color:white; font-size: 3.5rem;" class="neonTextWhite">LOREM</span></p>
        <p style="margin-bottom: -1rem;"><span style="color: #daf604; font-size: 3.5rem; " class="neonText">IPSUM</span></p>
        <br/>
        <div class="row text-white">
          <p class="text-start fs-4 fw-bolder">Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply</p>
        </div>
        <div class="row text-white">
          <p class="text-start fs-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
      </div>
      <div class="col" style="padding:50px 50px;">
        <img src="../assets/bicycle.png" alt="bicycle" height="400" width="600">
      </div>
    </div>
  </section>
  
</template>

<script>
export default {

}
</script>

<style>
.container {
  /* justify-content: center;
  align-items: center; */
  align-self: center;
}
.neonText {
  color: #fff;
  text-shadow:
    0 0 10px #daf604,
    0 0 10px #daf604;
}
.neonTextWhite {
  color: #fff;
  text-shadow:
    0 0 5px #daf604,
    0 0 15px #daf604;
}
/* body {
  background-color: black !important;
} */
</style>