<template>
  
  <section id="section3" class=" align-self-center body text-white" style="padding:100px 100px;">
    <div class="row">
      <div class="col" style="padding:50px 50px;">
        <img src="../assets/bicycle.png" alt="bicycle" height="400" width="600">
      </div>
      <div class="col" style="margin: 50px 50px;">
        
      <form role="form">
        <div class="row text-white">
          <h4 class="text-start fw-bolder">ติดต่อเรา</h4>
        </div>
        <div class="form-group float-label-control">
          <label for="">ชื่อ - นามสกุล</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group float-label-control">
          <label for="">เบอร์ติดต่อ</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group float-label-control">
          <label for="">อีเมล</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group float-label-control">
          <label for="">วันที่</label>
          <input id="datepicker" class="form-control" />
          <!-- <span class="input-group-append">
            <span class="d-block">
              <i class="fa fa-calendar"></i>
            </span>
          </span> -->
        </div>
        <br/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="col-12 text-center">
          <button type="submit" class="btn-submit rounded-pill">LOREM</button>
        </div>

      </form>
      </div>
    </div>
  </section>

</template>

<script>
import $ from 'jquery';
import 'bootstrap-datepicker';
import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

// import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'
// import { reactive } from 'vue'
export default {
  mounted() {
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap'
    });
  },
}
</script>

<style scoped>

.form-control:focus {
  color: #fff;
}
.form-control {
  color: #fff;
}

/* background input field */
.float-label-control input, .float-label-control textarea { 
  display: block; width: 100%; padding: 0.1em 0em 1px 0em; 
  border: none; border-radius: 0px; border-bottom: 1px solid #fff; 
  outline: none; margin: 0px; background: none; 
}

.btn-submit { 
  height: 40px;
  width: 170px;
  background-color: #daf604;
}



/* https://bootsnipp.com/snippets/xZn9 
  example text field 
*/

/* https://bootsnipp.com/snippets/klyGW
  example Date picker 

  https://codepen.io/vsfvjiuv-the-typescripter/pen/mdMeJwL
*/
</style>