<template>
  <section id="section2" class="text-white align-self-center" style="padding:100px 100px;">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="row">
                  <h1><span style="color:white">LOREM </span><span style="color:white">IPSUM </span><span style="color: #daf604"> LOREM</span></h1>
                </div>
              </div>
            </div>
          </div>
          <br/>
          
          <div class="text-center">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <img src="../assets/dinosaur.jpg" class="d-block rounded-circle" width="300" height="300">
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row" style="padding:50px 245px;">
              <div class="col">
                <h1 class="fs-4 fw-bolder">Lorem Ipsum is simply</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>

            
        </div>
        <div class="carousel-item">

          <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <div class="row">
                  <h1><span style="color:white">LOREM </span><span style="color:white">IPSUM </span><span style="color:yellow"> LOREM</span></h1>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="text-center">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <img src="../assets/dinosaur.jpg" class="d-block rounded-circle" width="300" height="300">
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row" style="padding:50px 245px;">
              <div class="col">
                <h1 class="fs-4 fw-bolder">Lorem Ipsum is simply</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item">

          <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <div class="row">
                  <h1><span style="color:white">LOREM </span><span style="color:white">IPSUM </span><span style="color:yellow"> LOREM</span></h1>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="text-center">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <img src="../assets/dinosaur.jpg" class="d-block rounded-circle" width="300" height="300">
              </div>
            </div>
          </div>

          <div class="container text-center">
            <div class="row" style="padding:50px 245px;">
              <div class="col">
                <h1 class="fs-4 fw-bolder">Lorem Ipsum is simply</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>


</template>

<script>
export default {

}
</script>

<style>

</style>