<template>

  <section id="section3" class=" align-self-center body" style="padding:100px 100px;">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="row">
            <h1>LOREM IPSUM</h1>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row text-center">
      <div class="col d-flex justify-content-center" v-for="data in apiData.value" :key="data.id">
          <div class="card" style="width: 25rem; height: 25rem;">
            <img :src="data.thumbnail" class="card-img-top" width="285" height="200">
            <div class="card-body">
              <h5 class="card-title">{{ data.brand }} : {{ data.title }}</h5>
              <p class="card-text">{{ data.description }}</p>
              <p class="card-text">ราคา {{ data.price }} ฿</p>
            </div>
          </div>
        </div>
    </div>
  </section>

</template>

<script>
// import { reactive, onMounted, ref  } from 'vue';
import func from '../api/api';

export default {
  data() {
    return {
      // apiData: ref([]),
      apiData: [],
      rating: 0
    }
  
  },
  created() {
    this.fetchData()
  },
  mounted() {
  
  },
  methods: {
    async fetchData() {
      let response
      try {
        response = await func.getData()
      } catch (error) {
        return error
      }
      // console.log('response', response.products)
      this.apiData.value = response.products
    }
  }

}
</script>

<style scoped>
.body {
  /* background-color: #f0ff0f; */
  background-color: #daf604; 
}

</style>